@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #2563eb;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-['Inter'] text-slate-900 bg-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full border-4 border-slate-50;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}

/* Page Transitions */
.page-enter {
  opacity: 0;
  transform: translateY(10px);
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}